@font-face {
  font-family: "nexonLv1";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/NEXONLv1GothicLight.ttf") format("ttf"),
       url("../../fonts/NEXON Lv1 Gothic OTF Light.otf") format("otf");
  font-display: swap;
}
@font-face {
  font-family: "nexonLv1";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/NEXONLv1GothicRegular.ttf") format("ttf"),
       url("../../fonts/NEXON Lv1 Gothic OTF.otf") format("otf");
  font-display: swap;
} 
@font-face {
  font-family: "nexonLv1";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/NEXONLv1GothicBold.ttf") format("ttf"),
       url("../../fonts/NEXON Lv1 Gothic OTF Bold.otf") format("otf");
  font-display: swap;
} 
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/NanumSquareNeo-aLt.ttf") format("ttf"),
       url("../../fonts/NanumSquareNeoOTF-Lt.otf") format("otf");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/NanumSquareNeo-bRg.ttf") format("ttf"),
       url("../../fonts/NanumSquareNeoOTF-Rg.otf") format("otf");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/NanumSquareNeo-cBd.ttf") format("ttf"),
       url("../../fonts/NanumSquareNeoOTF-Bd.otf") format("otf");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/NanumSquareNeo-dEb.ttf") format("ttf"),
       url("../../fonts/NanumSquareNeoOTF-Eb.otf") format("otf");
  font-display: swap;
}
@font-face {
  font-family: "nanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/NanumSquareNeo-eHv.ttf") format("ttf"),
       url("../../fonts/NanumSquareNeoOTF-Hv.otf") format("otf");
  font-display: swap;
}